body {
  font-family: Arial, sans-serif;
}
.header {
  background: #678f60;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}
.btn {
  margin-top: 10px;
}
