<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tree Shop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Tree Shop</a> |
      <a href="/about">About Me</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>Số 8, Tôn Thất Thuyết, Cầu Giấy, Hà Nội</p>
  </footer>
</body>
</html>
